/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-04-2017, 09:23:04 PM
    Author     : MipcHP
*/
#carrro{
    background-image: url(../Img/carrro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#computer{
    background-image: url(../Img/tech-1-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#house{
    background-image: url(../Img/house.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#artis{
    background-image: url(../Img/tech-2-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#user{
    background-image: url(../Img/tech-2-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img-card-top-2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#fr2{
    background-image: url(../Img/tech-2-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pa{
    margin: 2px;
}