@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?26840220');
  src: url('../font/fontello.eot?26840220#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?26840220') format('woff2'),
       url('../font/fontello.woff?26840220') format('woff'),
       url('../font/fontello.ttf?26840220') format('truetype'),
       url('../font/fontello.svg?26840220#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?26840220#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-eye:before { content: '\e800'; } /* '' */
.icon-emo-happy:before { content: '\e801'; } /* '' */
.icon-emo-wink:before { content: '\e802'; } /* '' */
.icon-emo-unhappy:before { content: '\e803'; } /* '' */
.icon-emo-sleep:before { content: '\e804'; } /* '' */
.icon-emo-thumbsup:before { content: '\e805'; } /* '' */
.icon-emo-devil:before { content: '\e806'; } /* '' */
.icon-emo-surprised:before { content: '\e807'; } /* '' */
.icon-emo-tongue:before { content: '\e808'; } /* '' */
.icon-emo-coffee:before { content: '\e809'; } /* '' */
.icon-emo-sunglasses:before { content: '\e80a'; } /* '' */
.icon-emo-displeased:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-emo-saint:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-tools:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-bell:before { content: '\e815'; } /* '' */
.icon-alert:before { content: '\e816'; } /* '' */
.icon-moon:before { content: '\e817'; } /* '' */
.icon-leaf:before { content: '\e818'; } /* '' */
.icon-lifebuoy:before { content: '\e819'; } /* '' */
.icon-graduation-cap:before { content: '\e81a'; } /* '' */
.icon-cloud-moon:before { content: '\e81b'; } /* '' */
.icon-cloud-sun:before { content: '\e81c'; } /* '' */
.icon-star-empty:before { content: '\e81d'; } /* '' */
.icon-star:before { content: '\e81e'; } /* '' */
.icon-flash:before { content: '\e81f'; } /* '' */
.icon-search:before { content: '\e820'; } /* '' */
.icon-mail:before { content: '\e821'; } /* '' */
.icon-heart:before { content: '\e822'; } /* '' */
.icon-star-1:before { content: '\e823'; } /* '' */
.icon-user-1:before { content: '\e824'; } /* '' */
.icon-videocam:before { content: '\e825'; } /* '' */
.icon-camera-1:before { content: '\e826'; } /* '' */
.icon-photo:before { content: '\e827'; } /* '' */
.icon-attach:before { content: '\e828'; } /* '' */
.icon-lock:before { content: '\e829'; } /* '' */
.icon-music:before { content: '\e82a'; } /* '' */
.icon-note:before { content: '\e82b'; } /* '' */
.icon-beaker:before { content: '\e82c'; } /* '' */
.icon-truck:before { content: '\e82d'; } /* '' */
.icon-cog-1:before { content: '\e82e'; } /* '' */
.icon-params:before { content: '\e82f'; } /* '' */
.icon-money:before { content: '\e830'; } /* '' */
.icon-calendar:before { content: '\e831'; } /* '' */
.icon-sound:before { content: '\e832'; } /* '' */
.icon-shop:before { content: '\e833'; } /* '' */
.icon-food:before { content: '\e834'; } /* '' */
.icon-clock-1:before { content: '\e835'; } /* '' */
.icon-diamond:before { content: '\e836'; } /* '' */
.icon-t-shirt:before { content: '\e837'; } /* '' */
.icon-lightbulb:before { content: '\e838'; } /* '' */
.icon-tv:before { content: '\e839'; } /* '' */
.icon-wallet:before { content: '\e83a'; } /* '' */
.icon-desktop:before { content: '\e83b'; } /* '' */
.icon-mobile:before { content: '\e83c'; } /* '' */
.icon-cd:before { content: '\e83d'; } /* '' */
.icon-inbox:before { content: '\e83e'; } /* '' */
.icon-globe-1:before { content: '\e83f'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-cloud:before { content: '\e842'; } /* '' */
.icon-paper-plane:before { content: '\e843'; } /* '' */
.icon-pencil:before { content: '\e844'; } /* '' */
.icon-thumbs-up:before { content: '\e845'; } /* '' */
.icon-tag:before { content: '\e846'; } /* '' */
.icon-comment:before { content: '\e847'; } /* '' */
.icon-location:before { content: '\e848'; } /* '' */
.icon-cup:before { content: '\e849'; } /* '' */
.icon-trash:before { content: '\e84a'; } /* '' */
.icon-doc:before { content: '\e84b'; } /* '' */
.icon-key:before { content: '\e84c'; } /* '' */
.icon-database:before { content: '\e84d'; } /* '' */
.icon-megaphone:before { content: '\e84e'; } /* '' */
.icon-graduation-cap-1:before { content: '\e84f'; } /* '' */
.icon-fire:before { content: '\e850'; } /* '' */
.icon-basket:before { content: '\e851'; } /* '' */
.icon-basket-1:before { content: '\e852'; } /* '' */
.icon-basket-2:before { content: '\e853'; } /* '' */
.icon-data-science-inv:before { content: '\f017'; } /* '' */
.icon-globe:before { content: '\f018'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-grav:before { content: '\f2d6'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */