/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-13-2017, 11:40:35 PM
    Author     : MipcHP
*/

.imglikeduser{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
}

.imglikedarti{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.titleliked{
    font-size: 50px;
    color: #009999;
}
.subtitleliked{
    font-size: 30px;
    color: #660066;
}
.buttontitleliked{
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
}

.buttontitleliked:hover{
    background-color: #c5c500
}
.botonesliked{
    font-size: 12px;
    margin: 5px;
}

.te{
    font-size: 20px;
    color: black;
    margin: 5px;
}