/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-07-2017, 10:16:46 PM
    Author     : MipcHP
*/

.btn{
    cursor: pointer;
}

.btn-primary{
    background-color: #006666;
    border-color:  #006666;
}

.btn-primary:hover{
    background-color: #009999;
    border-color:  #009999;
}