#encontrar{
    font-family: raleway; cursor: pointer;
    border-color: white;
    color: white;
    transition: all 0.5s;
}

#encontrar:hover{
    background-color: #b4b400;
    color: white;
}

.navbar{
 background-color: transparent;
 /*    background: -webkit-linear-gradient(left, #004e4e , #003333);  For Safari 5.1 to 6.0 
    background: -o-linear-gradient(right, #004e4e, #003333);  For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(right, #004e4e, #003333);  For Firefox 3.6 to 15 
    background: linear-gradient(to right, #004e4e , #003333);  Standard syntax */
}

#navw{
    color: white;
    transition: all 0.5s;
}

#navw:hover{
    color: silver;
    transition: all 0.5s;
    
}
.naviblnaco{
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 100%;
    z-index: 3;
    background-color: white;
}